{% extends 'base.html' %}

{% block content %}
    <style>
        .home-container {
            text-align: center;
            margin-top: 50px;
        }

        .welcome-message {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        .description {
            font-size: 18px;
            color: #666;
        }

        .exit-message {
            font-size: 24px;
            color: #333;
            margin-top: 50px;
        }
    </style>

    <div class="home-container">
        <h1>Welcome to Zesty Zomato!</h1>
        <p class="welcome-message">Experience the Best Culinary Delights</p>
        <p class="description">Serving Delicious Food with Love</p>
       
    </div>
{% endblock %}
